* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.intro-container{
    padding: 20px;
}
.intro-container li{
    list-style-type: none;
}

/* styles for position relative  */
.relative{
    border: 1px solid red;
    padding: 20px ;
    margin: 20px;
    position: relative;
    left: 200px;
}
/* styles for position relative */

/* styles for position absolute */
.absolute-container{
    border: 3px solid rgb(255, 0, 255);
    padding: 20px;
    margin: 20px;
    position: relative;
    height: 150px;
}
.absolute{
    border: 2px solid rgb(11, 176, 236);
    padding: 20px;
    position: absolute;
    top: 10px;
    right: 20px;
}
/* styles for position absolute */

/* styles for position sticky */
.sticky-container{
background-color: red;
text-align: center;
padding: 1.2rem;
position: sticky;
top: 0;
}
.sticky-container p{
font-size: 1.2rem;
color: white;
}
.long-para{
    padd
}
/* styles for position sticky */
/* styles for position fixed */
.fixed-container{
    border: 1px solid red;
    text-align: center;
    padding: 1.2rem ;
    width: 100px;
    position: fixed;
    right: 10px;
    bottom: 20px;
}
.fixed-container p{
    font-size: 0.7rem;
    color: white;
}
/* styles for position fixed */